.popular-cars-wrapper, .recomended-cars-wrapper {
    display: flex;
    flex-direction: column;
    width: 89.5%;
    justify-self: center;
    margin-top: 100px;

    & .selection-cars-top-part {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        & h3 {
            margin-left: 40px;
            margin-right: 40px;
            font-family: sans-serif;
            color: black;
            font-weight: 100;
        }

        & h3:nth-of-type(1) {
            color: gray;
        }

        & h3:nth-of-type(2) {
            cursor: pointer;
            transition: 0.2s;
        }

        & h3:nth-of-type(2):hover {
            color: gray;
        } 
    }
    
    & .selection-cars-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 80px;
        row-gap: 80px;
        height: 100%;
        justify-items: center;
        margin-top: 20px;
    }
}

