:root {
    --ad-left-bgr-col: #54A6FF;
    --ad-right-bgr-col: #3563E9;
}

.banners-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 88px;
    width: 100%;
}

.banner-each {
    border-radius: 10px;
}

.banner-left {
    background-color: var(--ad-left-bgr-col);
    width: 40%;
    height: 400px;
}

.banner-right {
    background-color: var(--ad-right-bgr-col);
    width: 40%;
    height: 400px;
}

.visual_background_ellipse {


    & .ellipse {
        position: absolute;
        background-color: transparent;
        border: 24px solid white;
        border-radius: 50%;
        opacity: 0.3;
    }
    & .ellipse-one {
        top: 110px;
        left: 50px;
        width: 800px;
        height: 800px;
    }

    & .ellipse-two {
        top: 175px;
        left: 125px;
        width: 650px;
        height: 650px;
    }

    & .ellipse-three {
        top: 250px;
        left: 200px;
        width: 500px;
        height: 500px;
    }

    & .ellipse-four {
        top: 325px;
        left: 275px;
        width: 350px;
        height: 350px;
    }

    & .ellipse-five {
        top: 400px;
        left: 350px;
        width: 200px;
        height: 200px;
    }

    & .ellipse-six {
        top: 460px;
        left: 412.5px;
        width: 75px;
        height: 75px;
    }
}

.visual_background_chevron_arrows {
    display: flex;
    flex-direction: column;
}

.arrow-container {

    display: flex;
    height: 133.3px; 
    width: 100%;
    background-color: #3563E9; 
    gap: 30px;
}

.arrow-container:nth-of-type(odd) {
    & .arrow-stripe {
        width: 130px; 
        height: 100%;
        background-color: white;
        opacity: 0.1;
        
        clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 60% 100%, 0% 100%, 40% 50%); 
    }
}

.arrow-container:nth-of-type(2) {
    & .arrow-stripe:nth-of-type(1) {
        margin-left: 77px;
    }
    
    & .arrow-stripe {
        width: 130px; 
        height: 100%;
        background-color: white;
        opacity: 0.1;
        
        clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 60% 100%, 0% 100%, 40% 50%); 
    }
}

.banner-left-text-wrapper {
    position: absolute;
    top: 200px; 
    left: 10%;  
}

.banner-right-text-wrapper {
    position: absolute;
    top: 200px;
}

.left-banner-car-img {
    top: 200px;
    position: absolute;
}

.right-banner-car-img {
    top: 200px;
    position: absolute;
}