.car-details-info-wrapper {
    margin-left: 50px;
    width: 42%;
    background-color: white;
    border-radius: 20px;

    & .car-details-info-wrapper-title {
        margin-left: 40px;
        margin-top: 30px;
        
        & .car-details-info-title-top-part {
            display: flex;
            gap: 76%;

            & h2 {
                font-family: sans-serif;
                font-weight: 100;
                font-size: 30px;

                & span {
                    position: absolute;
                    margin-left: 10px;
                    margin-top: -1px;
                }
            }

            & img {
                margin-left: 37%;
            }
        }

        & .car-details-info-title-bottom-part {
            margin-top: 6px;
            margin-left: 2px;
            display: flex;
            gap: 4px;

            & p {
                margin-left: 10px;
                font-family: 'soraLight', sans-serif;
                font-size: 14px;
                color: var(--dark-gray);
            }
        }
    }

    & > p {
        width: 90%;
        font-size: 18px;
        color: gray;
        font-family: 'soraLight', sans-serif;
        margin-left: 40px;
        margin-top: 40px;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    & .car-details-specs {
        margin-top: 20px;
        display: flex;
        gap: 80px;

        & .car-details-specs-each-side {
            margin-left: 40px;

            & .car-details-specs-each-spec-container {
                display: flex;
                gap: 10px;
                margin-top: 30px;
                align-items: center;

                & h4 {
                    font-family: sans-serif;
                    cursor: default;
                }
                
                & > img {
                    height: 32px;
                } 
            }

            .car-details-specs-each-spec-container:nth-of-type(5) {
                & > img {
                    width: 32px;
                }
            }
        }
    }

    & .car-details-features-wrapper {
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        & h3 {
            font-family: sans-serif;
            font-size: 20px;
        }

        & .car-details-features-swiper-wrapper {
            margin-top: 10px;
            height: 100px;
            width: 90%;
            
            & .swiper-slide-active.car-details-features-swiper-each {
                transform: translateY(-5px);
                background-color: var(--car-details-features-swiper-bgr-active-center-col);             
            }

            & .car-details-features-swiper-each {
                width: fit-content !important;
                height: 40px;
                display: flex;
                align-items: center;
                background-color: var(--car-details-features-swiper-bgr-center-col);
                background-image: 
                    radial-gradient(at 0% 0%, var(--car-details-features-swiper-bgr-corner-col) 0, transparent 50%),
                    radial-gradient(at 100% 0%, var(--car-details-features-swiper-bgr-corner-col) 0, transparent 50%),
                    radial-gradient(at 100% 100%, var(--car-details-features-swiper-bgr-corner-col) 0, transparent 50%),
                    radial-gradient(at 0% 100%, var(--car-details-features-swiper-bgr-corner-col) 0, transparent 50%);
                border-radius: 10px;
                padding: 10px 10px;
                margin-top: 15px;
                transition: transform 0.4s, background-color 0.6s;


                & h4  {
                    cursor: default;
                    font-family: sans-serif;
                    white-space: nowrap;
                }
            }
        }
    }

    & .car-details-price-tags {
        margin-top: 50px;

        & > div {
            margin-top: -10px;
            
            & h3 {
                font-size: 34px;
            }
        }

        & button {
            margin-left: 33%;
            width: 140px;
            height: 50px;
            font-size: 20px;
        }

        & button:hover {
            font-size: 22px;
        }
    }
}