.favorite-button {
    width: 32px;
    height: 32px;
    margin-left: 14.2%;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
}

.favorite-button:hover {
    transform: scale(105%);
}